# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger: none

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'

steps:
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      choco install invoke-build
- task: DotNetCoreCLI@2
  inputs:
    command: 'publish'
    publishWebProjects: false
    projects: 'ClientApp.Cli/ClientApp.Cli.csproj'
    arguments: '-c Release'
    zipAfterPublish: false
    modifyOutputPath: false
- task: PowerShell@2
  inputs:
    pwsh: true
    targetType: 'inline'
    script: 'Invoke-Build Build-Package'
- task: PublishPipelineArtifact@1
  inputs:
    targetPath: 'artifacts/*.nupkg'
    artifact: 'mediafiles'
    publishLocation: 'pipeline'
